# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/games/Hangman copy.jsx
src/games/HigherOrLower_solution.jsx
src/games/RockPaperScissors as of Jan 17.jsx
src/App_Lecture9.jsx
src/App_rock paper_Lecture5.jsx
src/App_rock paper_Lecture7.jsx
src/App_rock paper_Lecture8_withEx11.jsx
src/App_rock paper_Lecture8_withEx13.jsx
src/App_rock paper_Lecture8_withEx14.jsx
src/App_rock paper_Lecture8.jsx
src/App_rock paper.jsx
src/App2.jsx
src/Counter1.jsx
src/Greeting.jsx
